<style>
 .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="ECom Logo"
    src="assets/img/online-shopping.jpg"
  />
  <span>EComPro</span>
    <div class="spacer"></div>
</div>


<router-outlet></router-outlet>